<p>计算器前端代码 1+2+3=6 再加就错了 </p>

<ul class="calculator111">

<!--这里是计算器的前端-->
    <table>
      <tbody>
        <tr>
            <td><input type="button" value="AC" (click)="removeAll()" /></td>
            <td><input type="button" value="+/-" (click)="a('-')" /></td>
            <td><input type="button" value="." (click)="a('.')" /></td>
            <td><input type="button" value="=" (click)="RESULT()" /></td>
        </tr>
        <tr>
            <td><input type="button" value="7" (click)="a(7)" /></td>
            <td><input type="button" value="8" (click)="a(8)" /></td>
            <td><input type="button" value="9" (click)="a(9)" /></td>
            <td><input type="button" value="/" (click)="setOperation('/')" /></td>
        </tr>
        <tr>
            <td><input type="button" value="4" (click)="a(4)" /></td>
            <td><input type="button" value="5" (click)="a(5)" /></td>
            <td><input type="button" value="6" (click)="a(6)" /></td>
            <td><input type="button" value="%" (click)="divideBy100()" /></td>
        </tr>
        <tr>
            <td><input type="button" value="1" (click)="a(1)" /></td>
            <td><input type="button" value="2" (click)="a(2)" /></td>
            <td><input type="button" value="3" (click)="a(3)" /></td>
            <td><input type="button" value="+" (click)="setOperation('+')" /></td>
        </tr>
        <tr>
            <td colspan="2"> <input type="button" value="0" (click)="a(0)" /></td>
            <td><input type="button" value="-" (click)="setOperation('-')" /></td>
            <td><input type="button" value="*" (click)="setOperation('*')" /></td>
        </tr>
        <tr>
            <!--<td colspan="4"><input type="text" id="display" /></td>-->
            <!--模板引用变量：-->
            <td colspan="4"> <input type="text" id="display" [(ngModel)]="displayNumberA" /></td>

        </tr>
      </tbody>
    </table>


</ul>
