<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!--把 HeroesComponent.selectedHero 绑定到该元素的 hero 属性，
hero属性必须是一个带有 @Input() 装饰器的输入属性，
因为外部的 HeroesComponent 组件会绑定到它
[hero]="selectedHero" 是 Angular 的属性绑定语法。
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>







